/* PRELOAD */

@font-face {
    font-family: Bebas;
    src: url('../fonts/BebasNeue-Regular.otf');
}

@font-face {
    font-family: Bebas Light;
    src: url('../fonts/BebasNeue-Light.otf');
}

body {
    font-family: Bebas, sans-serif;
}

body:after{
    display:none;
    content: url(../img/kad.png) url(../img/nictvi.png) url(../img/close-sc.png) url(../img/open-sc.png) url(../img/cenik-open.png);
}

#banner {
    width: 100%;
    height: 100vh;
    position: fixed;
}

.sc {
    position: fixed;
    top: 45%;
    margin-top: -66px;
    width: 100%;
    height: 131px;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
    cursor: pointer;
}

.content {
    margin-top: 500px;
    background: #f00;
    height: 100vh;
}

#kader {
    position: fixed;
    width: 50%;
    min-height: 552px;
    background: url(../img/kad.png) no-repeat;
    background-size: 100% auto;
}

#nictvi {
    position: fixed;
    width: 50%;
    min-height: 552px;
    background: url(../img/nictvi.png) no-repeat;
    background-size: 100% auto;
}

#services {
    padding-top: 105px;
    position: fixed;
    background: #f98a8a;
    height: 100vh;
    width: 100%;
}

#foto {
    padding-top: 105px;
    position: fixed;
    background: #f98a8a;
    height: 100vh;
    width: 100%;
}

.petka-nav {
    min-height: 105px;
    background: #f1f0ee;
    border: 0;
}

.navbar-brand {
    padding-top: 35px;
}

.navbar-brand img {
    height: 35px;
}

.navbar-nav {
    width: 100%;
}

.navbar-nav li {
    text-align: right;
}

.navbar-nav li a {
    font-family: Bebas Light, sans-serif;
    font-size: 17px;
    padding-right: 0;
}

.navbar-collapse {
    padding-top: 27px;
    width: 75% !important;
    border-top: 0;
}

.navbar-collapse.collapse.in {
}

.navbar-toggle {
    margin-top: 25px;
}

.services-middle-align {
    color: #fff;
    font-size: 40px;
    margin-top: -118px;
    position: absolute;
    top: 50%;
}

.services-container {
    position: relative;
    height: 100%;
}

.services-row {
    height: 100%;
    margin-left: 0;
    width: 100%;
}

.services-price {
    display: inline-block;
    color: #f98a8a;
    float: right;
    font-size: 24px;
    padding-top: 12px;
    transition-duration: .5s;
}

.services-title {
    display: inline-block;
    float: left;
    border-bottom: 2px solid #fff;
    transition-duration: .5s;
}

.services-item {
    margin-left: 30px;
    padding-left: 0;
    padding-right: 0;
    transition-duration: .5s;
}

.services-item.open {
    border-bottom: 2px solid #fff;
}

.services-item.open .services-title {
    color: #f06a68;
    border-bottom: 0;
}

.services-item.open .services-price {
    color: #fff;
}

.btn-prices,
.btn-order {
    max-width: 133px;
    float: right;
    cursor: pointer;
}

.btn-prices {
    margin-bottom: 30px;
    transition-duration: .4s;
}

.middle-wrap {
    height: 100%;
    position: relative;
}

.services-btns {
    right: 0;
    margin-top: -153px;
}

#footer {
    position: fixed;
    width: 100%;
    height: 260px;
    background: #c1c1c1;
    padding-top: 40px;
}

.photo-background {
    min-height: 50%;
    padding: 0;
    background-repeat: repeat-x,no-repeat;
    background-size: cover;
    display: table;
    text-align: center;
    overflow: hidden;
    //transition-duration: .4s;
}

.photo-title {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 10%;
    padding-right: 10%;
    color: #fff;
}

.photo-title:hover,
.photo-title:active,
.photo-title:visited {
    outline: none;
    color: #fff;
    text-decoration: none;
}

#photo-01 {
    background-image: url('../img/photo-background.png'), url('../img/photos/02.jpg');
}

#photo-01:hover {
    background-image: url('../img/photos/02.jpg');
}

#photo-02 {
    background-image: url('../img/photo-background.png'), url('../img/photos/03.jpg');
}

#photo-02:hover {
    background-image: url('../img/photos/03.jpg');
}

#photo-03 {
    background-image: url('../img/photo-background.png'), url('../img/photos/04.jpg');
}

#photo-03:hover {
    background-image: url('../img/photos/04.jpg');
}

#photo-04 {
    background-image: url('../img/photo-background.png'), url('../img/photos/01.jpg');
}

#photo-04:hover {
    background-image: url('../img/photos/01.jpg');
}

#photo-05 {
    background-image: url('../img/photo-background.png'), url('../img/photos/05.jpg');
}

#photo-05:hover {
    background-image: url('../img/photos/05.jpg');
}

#photo-06 {
    background-image: url('../img/photo-background.png'), url('../img/photos/06.jpg');
}

#photo-06:hover {
    background-image: url('../img/photos/06.jpg');
}

#photo-07 {
    background-image: url('../img/photo-background.png'), url('../img/photos/07.jpg');
}

#photo-07:hover {
    background-image: url('../img/photos/07.jpg');
}

#photo-08 {
    background-image: url('../img/photo-background.png'), url('../img/photos/08.jpg');
}

#photo-08:hover {
    background-image: url('../img/photos/08.jpg');
}

#photo-09 {
    background-image: url('../img/photo-background.png'), url('../img/photos/09.jpg');
}

#photo-09:hover {
    background-image: url('../img/photos/09.jpg');
}

#photo-10 {
    background-image: url('../img/photo-background.png'), url('../img/photos/10.jpg');
}

#photo-10:hover {
    background-image: url('../img/photos/10.jpg');
}

#photo-11 {
    background-image: url('../img/photo-background.png'), url('../img/photos/11.jpg');
}

#photo-11:hover {
    background-image: url('../img/photos/11.jpg');
}

#photo-12 {
    background-image: url('../img/photo-background.png'), url('../img/photos/12.jpg');
}

#photo-12:hover {
    background-image: url('../img/photos/12.jpg');
}

.photo-container {
    height: 100%;
}

.photo-row {
    margin: 0;
    height: 100%;
}

.mfp-bg {
    background: #f06a68;
}

.custom-mfp-arrow-right {
    background-image: url('../img/right-arrow.png') !important;
    background-position: 50% 50% !important;
    right: -90px;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat !important;
}

.custom-mfp-arrow-left {
    background-image: url('../img/left-arrow.png') !important;
    background-position: 50% 50% !important;
    left: -90px;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat !important;
}

.fb-ico {
    background: url(img/fb-ico.png);
    display: block;
    height: 35px;
    width: 36px;
    background-size: cover;
}

.copyright {
    position: absolute;
    bottom: 20px;
    text-align: right;
    max-width: 1170px;
    font-size: 20px;
}

.copyright a {
    color: #fff;
    font-family: Bebas;
}

.contact-col {
    height: 150px;
}

.contact-row {
    color: #fff;
    font-size: 24px;
}

.light-footer {
    font-family: Bebas Light;
}

.tel-col {
    margin-right: -20px
}

.address-col,
.hours-col {
    padding-left: 45px
}

.address-col {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}
